html {
  font-family: monospace;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 3rem 10rem;
  font-size: 1.5rem;
}

h3 {
  font-size: 3rem;
}

input {
  padding: 0.5rem;
  font-size: 1.5rem;
}

.add-btn {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  background-color: gray;
  color: white;
  border: 2px solid gray;
  cursor: pointer;
  border-radius: 5%;
}

.remove-btn {
  background-color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: grey;
  border: none;
  color: white;
}

.adding-bar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

li {
  list-style: square;
  margin-bottom: 0.5rem;
}